/*--- Avanquest WebEasy Page Style ---*/


.cc155              { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	text-align      : center;
	}
.cc156              { /* Common */
	font            : 8pt 'Arial', Helvetica, sans-serif;
	color           : #c0c0c0;
	text-align      : center;
	}
.cc157              { /* Common */
	border          :   0.00pt none #0000ff;
	clip            : rect(0.00pt,708.00pt,4.50pt,0.00pt);
	}
.cc158              { /* Common */
	border          :   0.00pt none #ffffff;
	}
.cc159              { /* Common */
	font            : 10pt 'Helvetica', 'Lucida Grande', Arial, sans-serif;
	color           : #000000;
	text-align      : center;
	}
.cc160              { /* Common */
	font            : 10pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc161              { /* Common */
	clip            : rect(0.00pt,11.25pt,11.25pt,0.00pt);
	}
.cc162              { /* Common */
	font            : 10pt 'Helvetica', 'Lucida Grande', Arial, sans-serif;
	color           : #0000ff;
	}
.cc163              { /* Common */
	border          :   0.00pt none #000000;
	}
div#e13             { /* <FONT color=#c0c0c0 size... */
	position        : absolute;
	left            : 171.75pt;
	top             : 466.50pt;
	width           : 411.75pt;
	height          :  27.00pt;
	}
div#e12             { /* Copyright Winnipeg CORE ... */
	position        : absolute;
	left            : 280.50pt;
	top             : 486.00pt;
	width           : 186.00pt;
	height          :   9.75pt;
	}
span#e11            { /* top_header_core1_copy.jp... */
	background      : transparent url(top_header_core1_copy.jpg) no-repeat top left;
	position        : absolute;
	left            :  19.50pt;
	top             :   0.00pt;
	width           : 708.75pt;
	height          : 245.25pt;
	}
span#e10            { /* w_core_sept-2012012005.g... */
	background      : transparent url(w_core_sept-2012012005.gif) no-repeat top left;
	position        : absolute;
	left            :  19.50pt;
	top             : 244.50pt;
	width           : 708.00pt;
	height          :   4.50pt;
	}
span#e9             { /* w_core_sept-2012012004.g... */
	background      : transparent url(w_core_sept-2012012004.gif) no-repeat top left;
	position        : absolute;
	left            :  21.00pt;
	top             : 257.25pt;
	width           : 706.50pt;
	height          : 207.75pt;
	}
span#e8             { /* menubar_build_my_orchard... */
	background      : transparent url(menubar_build_my_orchards.jpg) no-repeat top left;
	position        : absolute;
	left            :  19.50pt;
	top             :   0.75pt;
	width           : 708.00pt;
	height          :  38.25pt;
	}
div#e7              { /* <U><FONT color=#0000ff><... */
	position        : absolute;
	left            : 143.25pt;
	top             : 270.75pt;
	width           : 495.75pt;
	height          :  51.00pt;
	}
div#e6              { /* Form Is Currently Offlin... */
	position        : absolute;
	left            : 352.50pt;
	top             : 369.75pt;
	width           : 132.00pt;
	height          :  15.00pt;
	}
span#e5             { /* w_core_sept-2012009003.j... */
	background      : transparent url(w_core_sept-2012009003.jpg) no-repeat top left;
	position        : absolute;
	left            : 275.25pt;
	top             : 346.50pt;
	width           :  60.00pt;
	height          :  58.50pt;
	}
span#e4             { /* w_core_sept-2012012003.j... */
	background      : transparent url(w_core_sept-2012012003.jpg) no-repeat top left;
	position        : absolute;
	left            : 359.25pt;
	top             : 391.50pt;
	width           :  11.25pt;
	height          :  11.25pt;
	}
div#e3              { /* req_res_form2013.pdf */
	position        : absolute;
	left            : 370.50pt;
	top             : 389.25pt;
	width           : 105.75pt;
	height          :  14.25pt;
	}
img#e2              { /* w_core_sept-2012012002.g... */
	position        : absolute;
	left            :  29.25pt;
	top             :   4.50pt;
	width           :  52.50pt;
	height          :  30.75pt;
	}
img#e1              { /* w_core_sept-2012012001.g... */
	position        : absolute;
	left            : 319.50pt;
	top             :   6.75pt;
	width           : 126.00pt;
	height          :  21.75pt;
	}
body#page           { /* Page Body */
	background-color: #000000;
	}



/*--- EndOfFile ---*/
