/*--- Avanquest WebEasy Page Style ---*/


.cc121              { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	text-align      : center;
	}
.cc122              { /* Common */
	font            : 8pt 'Arial', Helvetica, sans-serif;
	color           : #c0c0c0;
	text-align      : center;
	}
.cc123              { /* Common */
	border          :   0.00pt none #ffffff;
	}
.cc124              { /* Common */
	font            : 18pt 'Britannic Bold';
	color           : #000000;
	}
.cc125              { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #ffffff;
	}
.cc126              { /* Common */
	border          :   0.00pt none #0000ff;
	clip            : rect(0.00pt,708.00pt,4.50pt,0.00pt);
	}
.cc127              { /* Common */
	font            : 10pt 'Helvetica', 'Lucida Grande', Arial, sans-serif;
	color           : #ffffff;
	text-align      : center;
	}
.cc128              { /* Common */
	font            : 10pt 'Helvetica', 'Lucida Grande', Arial, sans-serif;
	color           : #ffffff;
	}
.cc129              { /* Common */
	border          :   0.00pt none #0000ff;
	clip            : rect(0.00pt,708.75pt,14.25pt,0.00pt);
	}
.cc130              { /* Common */
	border          :   0.00pt none #000000;
	}
.cc131              { /* Common */
	clip            : rect(0.00pt,12.75pt,12.75pt,0.00pt);
	}
.cc132              { /* Common */
	font            : bold 18pt 'brit';
	color           : #000000;
	}
.cc133              { /* Common */
	font            : 10pt 'Arial', Helvetica, sans-serif;
	color           : #0000ff;
	}
.cc134              { /* Common */
	font            : 24pt 'MS Sans Serif';
	color           : #0000ff;
	text-align      : center;
	}
span#e37            { /* w_core_sept-2012004016.j... */
	background      : transparent url(w_core_sept-2012004016.jpg) no-repeat top left;
	position        : absolute;
	left            :  16.50pt;
	top             : 207.00pt;
	width           : 326.25pt;
	height          : 258.00pt;
	}
span#e36            { /* w_core_sept-2012004015.j... */
	background      : transparent url(w_core_sept-2012004015.jpg) no-repeat top left;
	position        : absolute;
	left            : 528.75pt;
	top             : 123.75pt;
	width           : 196.50pt;
	height          : 337.50pt;
	}
div#e35             { /* <FONT color=#c0c0c0 size... */
	position        : absolute;
	left            : 172.50pt;
	top             : 477.00pt;
	width           : 411.75pt;
	height          :  27.00pt;
	}
div#e34             { /* Copyright Winnipeg CORE ... */
	position        : absolute;
	left            : 281.25pt;
	top             : 511.50pt;
	width           : 186.00pt;
	height          :  14.25pt;
	}
span#e33            { /* w_core_sept-2012004014.g... */
	background      : transparent url(w_core_sept-2012004014.gif) no-repeat top left;
	position        : absolute;
	left            :  18.00pt;
	top             :  32.25pt;
	width           : 708.00pt;
	height          : 108.00pt;
	}
span#e32            { /* w_core_sept-2012004013.g... */
	background      : transparent url(w_core_sept-2012004013.gif) no-repeat top left;
	position        : absolute;
	left            :  17.25pt;
	top             :   0.00pt;
	width           : 708.00pt;
	height          :  38.25pt;
	}
span#e31            { /* w_core_sept-2012004012.g... */
	background      : transparent url(w_core_sept-2012004012.gif) no-repeat top left;
	position        : absolute;
	left            :  16.50pt;
	top             : 143.25pt;
	width           : 475.50pt;
	height          : 105.75pt;
	}
div#e30             { /* Turning Boring... */
	position        : absolute;
	left            :  43.50pt;
	top             : 145.50pt;
	width           : 141.00pt;
	height          :  20.25pt;
	}
span#e29            { /* w_core_sept-2012004011.j... */
	background      : transparent url(w_core_sept-2012004011.jpg) no-repeat top left;
	position        : absolute;
	left            : 217.50pt;
	top             : 330.00pt;
	width           : 204.00pt;
	height          : 137.25pt;
	}
span#e28            { /* images.jpg */
	background      : transparent url(images.jpg) no-repeat top left;
	position        : absolute;
	left            :  19.50pt;
	top             :  43.50pt;
	width           : 306.75pt;
	height          :  92.25pt;
	}
span#e27            { /* w_core_sept-2012004010.j... */
	background      : transparent url(w_core_sept-2012004010.jpg) no-repeat top left;
	position        : absolute;
	left            : 582.75pt;
	top             :  39.75pt;
	width           : 100.50pt;
	height          :  99.75pt;
	}
div#e26             { /* Beautification */
	position        : absolute;
	left            : 330.00pt;
	top             : 435.75pt;
	width           :  75.00pt;
	height          :  30.75pt;
	}
div#e25             { /* Local Food */
	position        : absolute;
	left            : 577.50pt;
	top             : 196.50pt;
	width           : 105.75pt;
	height          :  16.50pt;
	}
span#e24            { /* w_core_sept-2012004009.g... */
	background      : transparent url(w_core_sept-2012004009.gif) no-repeat top left;
	position        : absolute;
	left            :  17.25pt;
	top             :  36.00pt;
	width           : 708.00pt;
	height          :   4.50pt;
	}
span#e23            { /* w_core_sept-2012004008.g... */
	background      : transparent url(w_core_sept-2012004008.gif) no-repeat top left;
	position        : absolute;
	left            :  18.00pt;
	top             : 137.25pt;
	width           : 708.00pt;
	height          :   4.50pt;
	}
div#e22             { /* Unsustainable Open Space... */
	position        : absolute;
	left            :  38.25pt;
	top             : 376.50pt;
	width           : 139.50pt;
	height          :  14.25pt;
	}
span#e21            { /* w_core_sept-2012004007.j... */
	background      : transparent url(w_core_sept-2012004007.jpg) no-repeat top left;
	position        : absolute;
	left            : 216.75pt;
	top             : 206.25pt;
	width           : 216.75pt;
	height          : 130.50pt;
	}
span#e20            { /* w_core_sept-2012004006.j... */
	background      : transparent url(w_core_sept-2012004006.jpg) no-repeat top left;
	position        : absolute;
	left            :  16.50pt;
	top             : 170.25pt;
	width           : 225.00pt;
	height          : 167.25pt;
	}
div#e19             { /* No Community Involved On... */
	position        : absolute;
	left            :  41.25pt;
	top             : 208.50pt;
	width           : 217.50pt;
	height          :  45.00pt;
	}
div#e18             { /* Healthy Diet */
	position        : absolute;
	left            : 319.50pt;
	top             : 209.25pt;
	width           : 105.75pt;
	height          :  16.50pt;
	}
span#e17            { /* w_core_sept-2012004005.j... */
	background      : transparent url(w_core_sept-2012004005.jpg) no-repeat top left;
	position        : absolute;
	left            : 411.00pt;
	top             : 141.75pt;
	width           : 135.00pt;
	height          : 204.75pt;
	}
div#e16             { /* Education */
	position        : absolute;
	left            : 421.50pt;
	top             : 151.50pt;
	width           : 105.75pt;
	height          :  16.50pt;
	}
span#e15            { /* pick5.jpg */
	background      : transparent url(pick5.jpg) no-repeat top left;
	position        : absolute;
	left            : 409.50pt;
	top             : 333.75pt;
	width           : 201.75pt;
	height          : 140.25pt;
	}
div#e14             { /* Community */
	position        : absolute;
	left            : 498.75pt;
	top             : 339.00pt;
	width           : 105.75pt;
	height          :  16.50pt;
	}
span#e13            { /* w_core_sept-2012004004.g... */
	background      : transparent url(w_core_sept-2012004004.gif) no-repeat top left;
	position        : absolute;
	left            :  16.50pt;
	top             : 461.25pt;
	width           : 708.75pt;
	height          :  14.25pt;
	}
img#e12             { /* w_core_sept-2012004003.g... */
	position        : absolute;
	left            :  29.25pt;
	top             :   4.50pt;
	width           :  52.50pt;
	height          :  30.75pt;
	}
span#e11            { /* w_core_sept-2012004002.g... */
	background      : transparent url(w_core_sept-2012004002.gif) no-repeat top left;
	position        : absolute;
	left            : 237.75pt;
	top             :   5.25pt;
	width           :  73.50pt;
	height          :  27.75pt;
	}
span#e10            { /* w_core_sept-2012004001.g... */
	background      : transparent url(w_core_sept-2012004001.gif) no-repeat top left;
	position        : absolute;
	left            : 336.75pt;
	top             :  73.50pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e9             { /* w_core_sept-2012004001.g... */
	background      : transparent url(w_core_sept-2012004001.gif) no-repeat top left;
	position        : absolute;
	left            : 336.75pt;
	top             :  85.50pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e8             { /* w_core_sept-2012004001.g... */
	background      : transparent url(w_core_sept-2012004001.gif) no-repeat top left;
	position        : absolute;
	left            : 336.75pt;
	top             :  98.25pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e7             { /* w_core_sept-2012004001.g... */
	background      : transparent url(w_core_sept-2012004001.gif) no-repeat top left;
	position        : absolute;
	left            : 336.75pt;
	top             : 110.25pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
div#e6              { /* Into Fun & Healthy */
	position        : absolute;
	left            : 245.25pt;
	top             : 147.75pt;
	width           : 162.00pt;
	height          :  21.75pt;
	}
div#e5              { /* The Community Urban Orch... */
	position        : absolute;
	left            : 350.25pt;
	top             :  72.00pt;
	width           : 216.75pt;
	height          :  15.75pt;
	}
div#e4              { /* Youth Ambassador Program */
	position        : absolute;
	left            : 350.25pt;
	top             :  99.00pt;
	width           : 150.00pt;
	height          :  12.75pt;
	}
div#e3              { /* Orchard Tours */
	position        : absolute;
	left            : 351.00pt;
	top             : 111.00pt;
	width           :  99.75pt;
	height          :  12.75pt;
	}
div#e2              { /* Our Programs */
	position        : absolute;
	left            : 337.50pt;
	top             :  44.25pt;
	width           : 192.75pt;
	height          :  28.50pt;
	}
div#e1              { /* Community Orchards For S... */
	position        : absolute;
	left            : 351.00pt;
	top             :  84.75pt;
	width           : 175.50pt;
	height          :  13.50pt;
	}
body#page           { /* Page Body */
	background-color: #000000;
	}



/*--- EndOfFile ---*/
