/*--- Avanquest WebEasy Document Style ---*/

*                   { /* All Elements */
	margin          : 0px;
	padding         : 0px;
	}
a:link              { /* Document Links */
	color           : #0000FF;
	}
a:visited           { /* Visited Links */
	color           : #800080;
	}
a:hover             { /* Hover Links */
	color           : #FF0000;
	}
a:active            { /* Active Links */
	color           : #FF0000;
	}
ol,ul               { /* All Lists */
	margin          : 1em;
	padding-left    : 2em;
	}
p                   { /* All Paragraphs */
	margin-bottom   : 1em;
	}
table.ct01          { /* Document Style */
	background-color: #ffffff;
	border          :   0.75pt solid #000000;
	border-spacing  : 0px;
	table-layout    : auto;
	empty-cells     : show;
	}
table.ct01 td       { /* Document Style */
	color           : #000000;
	font            : 10pt 'Arial', Helvetica, sans-serif;
	text-align      : left;
	border          :   0.75pt solid #000000;
	padding         :   1.50pt;
	white-space     : nowrap;
	vertical-align  : middle;
	}
table.ct05          { /* Document Style */
	background-color: #ffffff;
	border          :   0.75pt solid #000000;
	border-spacing  : 0px;
	table-layout    : auto;
	empty-cells     : show;
	}
table.ct05 td       { /* Document Style */
	color           : #000000;
	font            : 10pt 'Arial', Helvetica, sans-serif;
	text-align      : right;
	border          :   0.75pt solid #000000;
	vertical-align  : middle;
	}
table.ct05 th       { /* Document Style */
	color           : #000000;
	font            : bold 10pt 'Arial', Helvetica, sans-serif;
	background-color: #999999;
	text-align      : left;
	border          :   0.75pt solid #000000;
	white-space     : nowrap;
	vertical-align  : middle;
	}
table.ct05 .ch05 th { /* Document Style */
	color           : #000000;
	font            : bold 10pt 'Arial', Helvetica, sans-serif;
	background-color: #999999;
	text-align      : left;
	border          :   0.75pt solid #000000;
	white-space     : nowrap;
	vertical-align  : middle;
	}
.address            {
	color           : #000000;
	font            : italic 10pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	}
.citation           {
	color           : #000000;
	font            : italic 12pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	}
.code               {
	color           : #000080;
	font            : 12pt 'Courier New', monospace;
	}
.emphasis           {
	color           : #000000;
	font            : italic 12pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	}
.heading1           {
	color           : #000000;
	font            : bold 24pt 'Arial', Helvetica, sans-serif;
	}
.heading2           {
	color           : #000000;
	font            : bold 20pt 'Arial', Helvetica, sans-serif;
	}
.heading3           {
	color           : #000000;
	font            : 18pt 'Arial', Helvetica, sans-serif;
	}
.heading4           {
	color           : #000000;
	font            : italic 16pt 'Arial', Helvetica, sans-serif;
	}
.heading5           {
	color           : #000000;
	font            : 14pt 'Arial', Helvetica, sans-serif;
	}
.heading6           {
	color           : #000000;
	font            : 12pt 'Arial', Helvetica, sans-serif;
	}
.small              {
	color           : #000080;
	font            : 8pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	}


/*--- EndOfFile ---*/
