/*--- Avanquest WebEasy Page Style ---*/


.cc210              { /* Common */
	border          :   0.00pt none #ffffff;
	}
.cc211              { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	text-align      : center;
	}
.cc212              { /* Common */
	font            : 8pt 'Arial', Helvetica, sans-serif;
	color           : #c0c0c0;
	text-align      : center;
	}
.cc213              { /* Common */
	border          :   0.00pt none #000000;
	}
.cc214              { /* Common */
	border          :   0.00pt none #0000ff;
	clip            : rect(0.00pt,703.50pt,6.75pt,0.00pt);
	}
.cc215              { /* Common */
	font            : bold 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc216              { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc217              { /* Common */
	border          :   0.00pt none #0066cc;
	}
span#e32            { /* w_core_sept-2012040008.g... */
	background      : transparent url(w_core_sept-2012040008.gif) no-repeat top left;
	position        : absolute;
	left            :  19.50pt;
	top             :  38.25pt;
	width           : 157.50pt;
	height          : 411.00pt;
	}
div#e31             { /* <FONT color=#c0c0c0 size... */
	position        : absolute;
	left            : 249.75pt;
	top             : 451.50pt;
	width           : 411.75pt;
	height          :  27.00pt;
	}
div#e30             { /* Copyright Winnipeg CORE ... */
	position        : absolute;
	left            : 358.50pt;
	top             : 474.75pt;
	width           : 186.00pt;
	height          :  15.00pt;
	}
span#e29            { /* w_core_sept-2012040007.g... */
	background      : transparent url(w_core_sept-2012040007.gif) no-repeat top left;
	position        : absolute;
	left            : 181.50pt;
	top             :  36.00pt;
	width           : 540.75pt;
	height          : 413.25pt;
	}
span#e28            { /* w_core_sept-2012040006.g... */
	background      : transparent url(w_core_sept-2012040006.gif) no-repeat top left;
	position        : absolute;
	left            :  19.50pt;
	top             :   0.00pt;
	width           : 708.00pt;
	height          :  38.25pt;
	}
img#e27             { /* w_core_sept-2012040005.g... */
	position        : absolute;
	left            :  29.25pt;
	top             :   4.50pt;
	width           :  52.50pt;
	height          :  30.75pt;
	}
span#e26            { /* w_core_sept-2012001016.j... */
	background      : transparent url(w_core_sept-2012001016.jpg) no-repeat top left;
	position        : absolute;
	left            : 143.25pt;
	top             :  39.00pt;
	width           :  33.00pt;
	height          :  30.00pt;
	}
img#e25             { /* w_core_sept-2012040004.g... */
	position        : absolute;
	left            : 455.25pt;
	top             :   7.50pt;
	width           :  72.75pt;
	height          :  22.50pt;
	}
span#e24            { /* w_core_sept-2012040003.g... */
	background      : transparent url(w_core_sept-2012040003.gif) no-repeat top left;
	position        : absolute;
	left            :  19.50pt;
	top             :  24.75pt;
	width           : 703.50pt;
	height          :   6.75pt;
	}
div#e23             { /* Secretary */
	position        : absolute;
	left            :  27.00pt;
	top             :  67.50pt;
	width           :  59.25pt;
	height          :  14.25pt;
	}
div#e22             { /* (Volunteer) */
	position        : absolute;
	left            :  27.00pt;
	top             :  81.75pt;
	width           :  64.50pt;
	height          :  14.25pt;
	}
div#e21             {
	position        : absolute;
	left            :  27.00pt;
	top             :  96.00pt;
	width           : 144.00pt;
	height          :  13.50pt;
	}
div#e20             {
	position        : absolute;
	left            :  27.00pt;
	top             : 109.50pt;
	width           : 144.00pt;
	height          :  13.50pt;
	}
div#e19             {
	position        : absolute;
	left            :  27.00pt;
	top             : 123.00pt;
	width           : 144.00pt;
	height          :  13.50pt;
	}
div#e18             {
	position        : absolute;
	left            :  27.00pt;
	top             : 136.50pt;
	width           : 144.00pt;
	height          :  13.50pt;
	}
div#e17             {
	position        : absolute;
	left            :  27.00pt;
	top             : 150.00pt;
	width           : 144.00pt;
	height          :  13.50pt;
	}
div#e16             {
	position        : absolute;
	left            :  27.00pt;
	top             : 163.50pt;
	width           : 144.00pt;
	height          :  13.50pt;
	}
div#e15             {
	position        : absolute;
	left            :  27.00pt;
	top             : 177.00pt;
	width           : 144.00pt;
	height          :  13.50pt;
	}
div#e14             {
	position        : absolute;
	left            :  27.00pt;
	top             : 190.50pt;
	width           : 144.00pt;
	height          :  13.50pt;
	}
div#e13             { /* <FONT size=4><STRONG>Sec... */
	position        : absolute;
	left            : 185.25pt;
	top             :  42.75pt;
	width           : 523.50pt;
	height          :  50.25pt;
	}
div#e12             { /* <STRONG>Specific duties ... */
	position        : absolute;
	left            : 185.25pt;
	top             :  99.00pt;
	width           : 301.50pt;
	height          :  35.25pt;
	}
div#e11             { /* - Recording and distribu... */
	position        : absolute;
	left            : 185.25pt;
	top             : 126.75pt;
	width           : 501.75pt;
	height          : 102.00pt;
	}
div#e10             { /* &nbsp;&nbsp;distribute<B... */
	position        : absolute;
	left            : 185.25pt;
	top             : 221.25pt;
	width           : 519.75pt;
	height          :  34.50pt;
	}
div#e9              { /* &nbsp;&nbsp;Meetings. */
	position        : absolute;
	left            : 185.25pt;
	top             : 248.25pt;
	width           : 534.75pt;
	height          :  16.50pt;
	}
div#e8              { /* <STRONG>Qualities:</STRO... */
	position        : absolute;
	left            : 185.25pt;
	top             : 275.25pt;
	width           : 515.25pt;
	height          :  62.25pt;
	}
div#e7              { /* &nbsp;&nbsp;potential pa... */
	position        : absolute;
	left            : 185.25pt;
	top             : 330.00pt;
	width           : 534.75pt;
	height          :  16.50pt;
	}
div#e6              { /* - Record keeping */
	position        : absolute;
	left            : 186.75pt;
	top             : 343.50pt;
	width           : 533.25pt;
	height          :  20.25pt;
	}
span#e5             { /* w_core_sept-2012039006.j... */
	background      : transparent url(w_core_sept-2012039006.jpg) no-repeat top left;
	position        : absolute;
	left            :  20.25pt;
	top             : 188.25pt;
	width           : 154.50pt;
	height          : 116.25pt;
	}
span#e4             { /* w_core_sept-2012039003.j... */
	background      : transparent url(w_core_sept-2012039003.jpg) no-repeat top left;
	position        : absolute;
	left            :  48.75pt;
	top             : 141.75pt;
	width           : 102.00pt;
	height          :  76.50pt;
	}
img#e3              { /* w_core_sept-2012040002.j... */
	position        : absolute;
	left            : 180.00pt;
	top             :   1.50pt;
	width           :  46.50pt;
	height          :  41.25pt;
	}
span#e2             { /* w_core_sept-2012040001.g... */
	background      : transparent url(w_core_sept-2012040001.gif) no-repeat top left;
	position        : absolute;
	left            : 444.75pt;
	top             :   6.00pt;
	width           :  96.00pt;
	height          :  18.75pt;
	}
img#e1              { /* email_us_button.gif */
	position        : absolute;
	left            : 396.75pt;
	top             : 406.50pt;
	width           : 119.25pt;
	height          :  40.50pt;
	}
body#page           { /* Page Body */
	background-color: #000000;
	}



/*--- EndOfFile ---*/
