/*--- Avanquest WebEasy Page Style ---*/


.cc51               { /* Common */
	border          :   0.00pt none #ffffff;
	}
.cc52               { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	text-align      : center;
	}
.cc53               { /* Common */
	font            : 8pt 'Arial', Helvetica, sans-serif;
	color           : #c0c0c0;
	text-align      : center;
	}
.cc54               { /* Common */
	border          :   0.00pt none #0000ff;
	clip            : rect(0.00pt,708.00pt,4.50pt,0.00pt);
	}
.cc55               { /* Common */
	border          :   0.00pt none #000000;
	}
.cc56               { /* Common */
	font            : 16pt 'Arial Rounded MT Bold', Helvetica, sans-serif;
	color           : #000000;
	}
.cc57               { /* Common */
	font            : 12pt 'Calibri';
	color           : #1f497d;
	}
.cc58               { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #404040;
	}
span#e14            { /* w_core_sept-2012017006.g... */
	background      : transparent url(w_core_sept-2012017006.gif) no-repeat top left;
	position        : absolute;
	left            :  19.50pt;
	top             : 257.25pt;
	width           : 159.00pt;
	height          :  58.50pt;
	}
div#e13             { /* <FONT color=#c0c0c0 size... */
	position        : absolute;
	left            : 270.00pt;
	top             : 678.75pt;
	width           : 411.75pt;
	height          :  27.00pt;
	}
div#e12             { /* Copyright Winnipeg CORE ... */
	position        : absolute;
	left            : 378.75pt;
	top             : 712.50pt;
	width           : 186.00pt;
	height          :   9.75pt;
	}
span#e11            { /* top_header_core1_copy.jp... */
	background      : transparent url(top_header_core1_copy.jpg) no-repeat top left;
	position        : absolute;
	left            :  19.50pt;
	top             :   0.00pt;
	width           : 708.75pt;
	height          : 245.25pt;
	}
span#e10            { /* w_core_sept-2012017005.g... */
	background      : transparent url(w_core_sept-2012017005.gif) no-repeat top left;
	position        : absolute;
	left            :  19.50pt;
	top             : 244.50pt;
	width           : 708.00pt;
	height          :   4.50pt;
	}
span#e9             { /* w_core_sept-2012017004.g... */
	background      : transparent url(w_core_sept-2012017004.gif) no-repeat top left;
	position        : absolute;
	left            : 165.75pt;
	top             :   7.50pt;
	width           : 553.50pt;
	height          :  22.50pt;
	}
div#e8              { /* More About The Founders */
	position        : absolute;
	left            :  24.75pt;
	top             : 267.00pt;
	width           : 149.25pt;
	height          :  47.25pt;
	}
span#e7             { /* w_core_sept-2012017003.g... */
	background      : transparent url(w_core_sept-2012017003.gif) no-repeat top left;
	position        : absolute;
	left            : 214.50pt;
	top             : 257.25pt;
	width           : 513.00pt;
	height          : 417.75pt;
	}
div#e6              {
	position        : absolute;
	left            : 220.50pt;
	top             : 285.75pt;
	width           :   4.50pt;
	height          :  14.25pt;
	}
div#e5              {
	position        : absolute;
	left            : 220.50pt;
	top             : 414.00pt;
	width           :   4.50pt;
	height          :  14.25pt;
	}
div#e4              {
	position        : absolute;
	left            : 220.50pt;
	top             : 542.25pt;
	width           :   4.50pt;
	height          :  14.25pt;
	}
img#e3              { /* w_core_sept-2012017002.j... */
	position        : absolute;
	left            :  87.00pt;
	top             :   3.75pt;
	width           :  70.50pt;
	height          :  27.75pt;
	}
img#e2              { /* w_core_sept-2012017001.j... */
	position        : absolute;
	left            :  29.25pt;
	top             :   4.50pt;
	width           :  52.50pt;
	height          :  30.75pt;
	}
div#e1              { /* <DIV>  \<P style="MARGIN... */
	position        : absolute;
	left            : 225.00pt;
	top             : 270.00pt;
	width           : 489.75pt;
	height          : 386.25pt;
	}
body#page           { /* Page Body */
	background-color: #000000;
	}



/*--- EndOfFile ---*/
