/*--- Avanquest WebEasy Page Style ---*/


.cc01               { /* Common */
	border          :   0.00pt none #ffffff;
	}
.cc02               { /* Common */
	border          :   0.00pt none #0066cc;
	}
.cc03               { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc04               { /* Common */
	font            : 18pt 'Helvetica', 'Lucida Grande', Arial, sans-serif;
	color           : #000000;
	}
.cc05               { /* Common */
	clip            : rect(0.00pt,6.75pt,12.75pt,0.00pt);
	}
.cc06               { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #c0c0c0;
	text-align      : center;
	}
.cc07               { /* Common */
	font            : 8pt 'Arial', Helvetica, sans-serif;
	color           : #c0c0c0;
	text-align      : center;
	}
.cc08               { /* Common */
	border          :   0.00pt none #000000;
	}
.cc09               { /* Common */
	border          :   0.00pt none #0000ff;
	clip            : rect(0.00pt,708.00pt,4.50pt,0.00pt);
	}
.cc10               { /* Common */
	font            : 8pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc11               { /* Common */
	font            : bold 10pt 'Arial Narrow', Helvetica, sans-serif;
	color           : #0000ff;
	}
.cc12               { /* Common */
	font            : bold 8pt 'MS Sans Serif';
	color           : #000000;
	text-align      : center;
	}
.cc13               { /* Common */
	border          :   0.00pt none #000000;
	clip            : rect(0.00pt,325.50pt,17.25pt,0.00pt);
	}
.cc14               { /* Common */
	font            : 12pt 'Gill Sans MT', fantasy;
	color           : #ffff00;
	text-align      : center;
	}
.cc15               { /* Common */
	clip            : rect(0.00pt,5.25pt,5.25pt,0.00pt);
	}
.cc16               { /* Common */
	clip            : rect(0.00pt,4.50pt,4.50pt,0.00pt);
	}
span#e43            { /* w_core_sept-2012001024.j... */
	background      : transparent url(w_core_sept-2012001024.jpg) no-repeat top left;
	position        : absolute;
	left            :   0.00pt;
	top             :  36.75pt;
	width           : 741.00pt;
	height          : 757.50pt;
	}
span#e42            { /* w_core_sept-2012001023.g... */
	background      : transparent url(w_core_sept-2012001023.gif) no-repeat top left;
	position        : absolute;
	left            :  19.50pt;
	top             : 255.00pt;
	width           : 708.00pt;
	height          : 158.25pt;
	}
span#e41            { /* w_core_sept-2012001022.j... */
	background      : transparent url(w_core_sept-2012001022.jpg) no-repeat top left;
	visibility      : hidden;
	position        : absolute;
	left            :  20.25pt;
	top             :   0.00pt;
	width           : 708.75pt;
	height          : 243.75pt;
	}
img#e40             { /* partnerships.jpg */
	position        : absolute;
	left            :  20.25pt;
	top             : 256.50pt;
	width           : 164.25pt;
	height          :  34.50pt;
	}
div#e39             { /* <FONT color="#0000ff"><F... */
	position        : absolute;
	left            : 384.00pt;
	top             : 313.50pt;
	width           : 153.75pt;
	height          :  24.00pt;
	}
div#e38             { /* A message from the found... */
	position        : absolute;
	left            : 235.50pt;
	top             : 420.00pt;
	width           : 324.75pt;
	height          :  44.25pt;
	}
span#e37            { /* w_core_sept-2012001021.g... */
	background      : transparent url(w_core_sept-2012001021.gif) no-repeat top left;
	position        : absolute;
	left            : 225.75pt;
	top             : 422.25pt;
	width           :   6.75pt;
	height          :  12.75pt;
	}
img#e36             { /* sustain_member.jpg */
	position        : absolute;
	left            :  39.75pt;
	top             : 292.50pt;
	width           : 117.75pt;
	height          : 117.00pt;
	}
div#e35             { /* <DIV><FONT color="#c0c0c... */
	position        : absolute;
	left            : 171.75pt;
	top             : 750.75pt;
	width           : 411.75pt;
	height          :  26.25pt;
	}
div#e34             { /* Copyright Winnipeg CORE ... */
	position        : absolute;
	left            :   0.00pt;
	top             : 780.00pt;
	width           : 737.25pt;
	height          :  18.75pt;
	}
img#e33             { /* w_core_sept-2012001020.j... */
	position        : absolute;
	left            : 166.50pt;
	top             :   6.00pt;
	width           :  66.00pt;
	height          :  23.25pt;
	}
img#e32             { /* w_core_sept-2012001019.j... */
	position        : absolute;
	left            : 242.25pt;
	top             :   8.25pt;
	width           :  69.00pt;
	height          :  21.75pt;
	}
img#e31             { /* w_core_sept-2012001018.j... */
	position        : absolute;
	left            : 320.25pt;
	top             :   7.50pt;
	width           : 123.75pt;
	height          :  21.75pt;
	}
img#e30             { /* w_core_sept-2012001017.j... */
	position        : absolute;
	left            : 455.25pt;
	top             :   6.00pt;
	width           :  71.25pt;
	height          :  25.50pt;
	}
img#e29             { /* latestevents.jpg */
	position        : absolute;
	left            : 200.25pt;
	top             : 256.50pt;
	width           : 165.00pt;
	height          :  34.50pt;
	}
span#e28            { /* coming_soon.jpg */
	background      : transparent url(coming_soon.jpg) no-repeat top left;
	visibility      : hidden;
	position        : absolute;
	left            :  21.00pt;
	top             : 420.75pt;
	width           : 204.00pt;
	height          : 138.75pt;
	}
span#e27            { /* w_core_sept-2012001016.j... */
	background      : transparent url(w_core_sept-2012001016.jpg) no-repeat top left;
	position        : absolute;
	left            : 564.75pt;
	top             : 295.50pt;
	width           :  33.00pt;
	height          :  30.00pt;
	}
img#e26             { /* w_core_sept-2012001014.j... */
	position        : absolute;
	left            : 187.50pt;
	top             : 291.00pt;
	width           : 189.75pt;
	height          : 127.50pt;
	}
span#e25            { /* w_core_sept-2012001013.g... */
	background      : transparent url(w_core_sept-2012001013.gif) no-repeat top left;
	position        : absolute;
	left            :  21.00pt;
	top             : 414.00pt;
	width           : 708.00pt;
	height          :   4.50pt;
	}
img#e24             { /* news.jpg */
	position        : absolute;
	left            : 562.50pt;
	top             : 255.75pt;
	width           : 165.00pt;
	height          :  35.25pt;
	}
div#e23             { /* The Forks Has Taken Soil... */
	position        : absolute;
	left            : 598.50pt;
	top             : 297.75pt;
	width           : 126.75pt;
	height          :  48.00pt;
	}
img#e22             { /* w_core_sept-2012001012.j... */
	position        : absolute;
	left            : 566.25pt;
	top             : 351.75pt;
	width           :  33.00pt;
	height          :  31.50pt;
	}
div#e21             { /* <FONT size="2"><STRONG>W... */
	position        : absolute;
	left            : 600.00pt;
	top             : 345.00pt;
	width           : 127.50pt;
	height          :  43.50pt;
	}
div#e20             { /* go to opportunities... */
	background-color: #ffff00;
	visibility      : hidden;
	position        : absolute;
	left            : 600.00pt;
	top             : 381.00pt;
	width           : 105.00pt;
	height          :  14.25pt;
	}
img#e19             { /* current_orchard_project_... */
	position        : absolute;
	left            : 382.50pt;
	top             : 256.50pt;
	width           : 164.25pt;
	height          :  34.50pt;
	}
span#e18            { /* w_core_sept-2012001011.g... */
	background      : transparent url(w_core_sept-2012001011.gif) no-repeat top left;
	position        : absolute;
	left            :  20.25pt;
	top             : 252.00pt;
	width           : 708.00pt;
	height          :   4.50pt;
	}
div#e17             { /* DONATIONS & FUNDRAISER A... */
	position        : absolute;
	left            : 203.25pt;
	top             : 292.50pt;
	width           : 157.50pt;
	height          :  12.75pt;
	}
img#e16             { /* w_core_sept-2012001010.j... */
	position        : absolute;
	left            : 417.00pt;
	top             : 333.75pt;
	width           :  78.00pt;
	height          :  50.25pt;
	}
span#e15            { /* w_core_sept-2012001009.g... */
	background      : transparent url(w_core_sept-2012001009.gif) no-repeat top left;
	visibility      : hidden;
	position        : absolute;
	left            : 402.00pt;
	top             : 226.50pt;
	width           : 325.50pt;
	height          :  17.25pt;
	}
div#e14             { /* Bringing All Communities... */
	visibility      : hidden;
	position        : absolute;
	left            : 401.25pt;
	top             : 228.00pt;
	width           : 333.00pt;
	height          :  17.25pt;
	}
img#e13             { /* w_core_sept-2012001008.j... */
	position        : absolute;
	left            : 637.50pt;
	top             :   8.25pt;
	width           :  78.75pt;
	height          :  23.25pt;
	}
img#e12             { /* w_core_sept-2012001007.j... */
	position        : absolute;
	left            :  86.25pt;
	top             :   5.25pt;
	width           :  72.75pt;
	height          :  27.00pt;
	}
img#e11             { /* index001008.jpg */
	position        : absolute;
	left            : 168.75pt;
	top             :   7.50pt;
	width           :  63.75pt;
	height          :  20.25pt;
	}
img#e10             { /* index001007.jpg */
	position        : absolute;
	left            : 243.75pt;
	top             :   6.00pt;
	width           :  68.25pt;
	height          :  24.00pt;
	}
img#e9              { /* index001006.jpg */
	position        : absolute;
	left            : 321.75pt;
	top             :   4.50pt;
	width           : 123.75pt;
	height          :  24.00pt;
	}
img#e8              { /* index001005.jpg */
	position        : absolute;
	left            : 457.50pt;
	top             :   7.50pt;
	width           :  69.00pt;
	height          :  20.25pt;
	}
img#e7              { /* index001004.jpg */
	position        : absolute;
	left            : 635.25pt;
	top             :   5.25pt;
	width           :  81.00pt;
	height          :  24.75pt;
	}
img#e6              { /* w_core_sept-2012001001.j... */
	position        : absolute;
	left            : 540.00pt;
	top             :   0.00pt;
	width           :  84.00pt;
	height          :  35.25pt;
	}
span#e5             { /* index001003.jpg */
	background      : transparent url(index001003.jpg) no-repeat top left;
	position        : absolute;
	left            : 253.50pt;
	top             :  -5.25pt;
	width           :   5.25pt;
	height          :   5.25pt;
	}
span#e4             { /* index001002.jpg */
	background      : transparent url(index001002.jpg) no-repeat top left;
	position        : absolute;
	left            : 307.50pt;
	top             :  -4.50pt;
	width           :   4.50pt;
	height          :   4.50pt;
	}
span#e3             { /* index001001.gif */
	background      : transparent url(index001001.gif) no-repeat top left;
	position        : absolute;
	left            : 741.00pt;
	top             : 363.75pt;
	width           :  68.25pt;
	height          : 141.00pt;
	}
img#e2              { /* w_core_sept-2012001015.j... */
	position        : absolute;
	left            : 631.50pt;
	top             : 421.50pt;
	width           :  96.00pt;
	height          :  29.25pt;
	}
span#e1             { /* logo2_copy.jpg */
	background      : transparent url(logo2_copy.jpg) no-repeat top left;
	visibility      : hidden;
	position        : absolute;
	left            :  20.25pt;
	top             :  36.75pt;
	width           : 707.25pt;
	height          : 206.25pt;
	}
body#page           { /* Page Body */
	background-color: #000000;
	}



/*--- EndOfFile ---*/
