/*--- Avanquest WebEasy Page Style ---*/


.cc199              { /* Common */
	border          :   0.00pt none #ffffff;
	}
.cc200              { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	text-align      : center;
	}
.cc201              { /* Common */
	font            : 8pt 'Arial', Helvetica, sans-serif;
	color           : #c0c0c0;
	text-align      : center;
	}
.cc202              { /* Common */
	border          :   0.00pt none #0000ff;
	clip            : rect(0.00pt,708.00pt,4.50pt,0.00pt);
	}
.cc203              { /* Common */
	border          :   0.00pt none #000000;
	}
.cc204              { /* Common */
	font            : 16pt 'Arial Rounded MT Bold', Helvetica, sans-serif;
	color           : #000000;
	text-align      : center;
	}
.cc205              { /* Common */
	font            : 12pt 'Comic Sans MS', cursive;
	color           : #000000;
	}
.cc206              { /* Common */
	font            : 16pt 'Arial Rounded MT Bold', Helvetica, sans-serif;
	color           : #000000;
	}
.cc207              { /* Common */
	font            : 12pt 'Comic Sans MS', cursive;
	color           : #0000ff;
	text-align      : center;
	}
.cc208              { /* Common */
	border          :   0.00pt none #0066cc;
	}
.cc209              { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #404040;
	}
span#e20            { /* w_core_sept-2012037009.g... */
	background      : transparent url(w_core_sept-2012037009.gif) no-repeat top left;
	position        : absolute;
	left            :  21.00pt;
	top             :  36.75pt;
	width           : 157.50pt;
	height          :  41.25pt;
	}
div#e19             { /* <FONT color=#c0c0c0 size... */
	position        : absolute;
	left            : 256.50pt;
	top             : 340.50pt;
	width           : 411.75pt;
	height          :  27.00pt;
	}
div#e18             { /* Copyright Winnipeg CORE ... */
	position        : absolute;
	left            : 365.25pt;
	top             : 363.75pt;
	width           : 186.00pt;
	height          :  16.50pt;
	}
span#e17            { /* w_core_sept-2012037008.g... */
	background      : transparent url(w_core_sept-2012037008.gif) no-repeat top left;
	position        : absolute;
	left            :  21.00pt;
	top             :  30.00pt;
	width           : 708.00pt;
	height          :   4.50pt;
	}
span#e16            { /* w_core_sept-2012037007.g... */
	background      : transparent url(w_core_sept-2012037007.gif) no-repeat top left;
	position        : absolute;
	left            : 188.25pt;
	top             :  36.75pt;
	width           : 540.75pt;
	height          : 300.75pt;
	}
span#e15            { /* w_core_sept-2012037006.g... */
	background      : transparent url(w_core_sept-2012037006.gif) no-repeat top left;
	position        : absolute;
	left            :  19.50pt;
	top             :   0.00pt;
	width           : 708.00pt;
	height          :  38.25pt;
	}
img#e14             { /* w_core_sept-2012037005.g... */
	position        : absolute;
	left            :  29.25pt;
	top             :   4.50pt;
	width           :  52.50pt;
	height          :  30.75pt;
	}
span#e13            { /* index020002.gif */
	background      : transparent url(index020002.gif) no-repeat top left;
	position        : absolute;
	left            :  21.00pt;
	top             :  75.00pt;
	width           : 157.50pt;
	height          : 262.50pt;
	}
div#e12             { /* Board Of Directors Oppor... */
	position        : absolute;
	left            :  21.75pt;
	top             :  39.00pt;
	width           : 155.25pt;
	height          :  36.00pt;
	}
span#e11            { /* w_core_sept-2012037002.j... */
	background      : transparent url(w_core_sept-2012037002.jpg) no-repeat top left;
	position        : absolute;
	left            : 188.25pt;
	top             : 127.50pt;
	width           : 279.00pt;
	height          : 209.25pt;
	}
div#e10             { /* We are building our orga... */
	position        : absolute;
	left            : 471.75pt;
	top             :  68.25pt;
	width           : 253.50pt;
	height          :  59.25pt;
	}
div#e9              { /* If you are ready and eag... */
	position        : absolute;
	left            : 471.75pt;
	top             : 132.00pt;
	width           : 252.75pt;
	height          : 100.50pt;
	}
div#e8              {
	position        : absolute;
	left            : 471.75pt;
	top             : 179.25pt;
	width           : 256.50pt;
	height          :  18.00pt;
	}
div#e7              { /* Please send us your resu... */
	position        : absolute;
	left            : 471.75pt;
	top             : 239.25pt;
	width           : 242.25pt;
	height          :  17.25pt;
	}
div#e6              {
	position        : absolute;
	left            : 471.75pt;
	top             : 214.50pt;
	width           : 256.50pt;
	height          :  18.00pt;
	}
span#e5             { /* w_core_sept-2012037001.j... */
	background      : transparent url(w_core_sept-2012037001.jpg) no-repeat top left;
	position        : absolute;
	left            : 236.25pt;
	top             :  39.00pt;
	width           : 182.25pt;
	height          : 138.00pt;
	}
div#e4              { /* Board Roles, Responsibil... */
	position        : absolute;
	left            : 473.25pt;
	top             :  39.00pt;
	width           : 251.25pt;
	height          :  21.75pt;
	}
img#e3              { /* email_us_button.gif */
	position        : absolute;
	left            : 542.25pt;
	top             : 270.75pt;
	width           : 119.25pt;
	height          :  40.50pt;
	}
div#e2              { /* <DIV><A href="index_022.... */
	position        : absolute;
	left            :  29.25pt;
	top             :  94.50pt;
	width           : 146.25pt;
	height          : 234.00pt;
	}
span#e1             { /* index020001.gif */
	background      : transparent url(index020001.gif) no-repeat top left;
	position        : absolute;
	left            : 434.25pt;
	top             :   9.00pt;
	width           : 110.25pt;
	height          :  21.00pt;
	}
body#page           { /* Page Body */
	background-color: #000000;
	}



/*--- EndOfFile ---*/
