/*--- Avanquest WebEasy Page Style ---*/


.cc75               { /* Common */
	border          :   0.00pt none #ffffff;
	}
.cc76               { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	text-align      : center;
	}
.cc77               { /* Common */
	font            : 8pt 'Arial', Helvetica, sans-serif;
	color           : #c0c0c0;
	text-align      : center;
	}
.cc78               { /* Common */
	font            : 12pt 'Cambria';
	color           : #000000;
	}
.cc79               { /* Common */
	font            : 36pt 'MS Sans Serif';
	color           : #000000;
	text-align      : center;
	}
.cc80               { /* Common */
	font            : 10pt 'Helvetica', 'Lucida Grande', Arial, sans-serif;
	color           : #ff0000;
	}
.cc81               { /* Common */
	border          :   0.00pt none #ffffff;
	clip            : rect(0.00pt,37.50pt,13.50pt,0.00pt);
	}
.cc82               { /* Common */
	font            : bold 10pt 'Helvetica', 'Lucida Grande', Arial, sans-serif;
	color           : #ff0000;
	text-align      : center;
	}
.cc83               { /* Common */
	border          :   0.00pt none #0066cc;
	}
.cc84               { /* Common */
	border          :   0.00pt none #000000;
	}
span#e14            { /* w_core_sept-2012003008.j... */
	background      : transparent url(w_core_sept-2012003008.jpg) no-repeat top left;
	position        : absolute;
	left            :   0.00pt;
	top             :   0.00pt;
	width           : 745.50pt;
	height          : 753.00pt;
	}
span#e13            { /* w_core_sept-2012003007.g... */
	background      : transparent url(w_core_sept-2012003007.gif) no-repeat top left;
	position        : absolute;
	left            :  33.75pt;
	top             :  38.25pt;
	width           : 482.25pt;
	height          : 360.75pt;
	}
div#e12             { /* <FONT color=#c0c0c0 size... */
	position        : absolute;
	left            :  74.25pt;
	top             : 357.75pt;
	width           : 411.75pt;
	height          :  27.00pt;
	}
div#e11             { /* Copyright Winnipeg CORE ... */
	position        : absolute;
	left            : 183.00pt;
	top             : 381.75pt;
	width           : 186.00pt;
	height          :  14.25pt;
	}
span#e10            { /* w_core_sept-2012003006.g... */
	background      : transparent url(w_core_sept-2012003006.gif) no-repeat top left;
	position        : absolute;
	left            : 135.00pt;
	top             :  42.75pt;
	width           : 374.25pt;
	height          : 313.50pt;
	}
span#e9             { /* w_core_sept-2012003005.g... */
	background      : transparent url(w_core_sept-2012003005.gif) no-repeat top left;
	position        : absolute;
	left            :  33.00pt;
	top             :   0.00pt;
	width           : 712.50pt;
	height          :  38.25pt;
	}
div#e8              { /* To see details for each ... */
	position        : absolute;
	left            :  44.25pt;
	top             : 255.00pt;
	width           :  95.25pt;
	height          :  85.50pt;
	}
div#e7              { /* Winnipeg Orchards */
	position        : absolute;
	left            : 117.00pt;
	top             :  50.25pt;
	width           : 312.00pt;
	height          :  41.25pt;
	}
span#e6             { /* w_core_sept-2012003004.g... */
	background      : transparent url(w_core_sept-2012003004.gif) no-repeat top left;
	position        : absolute;
	left            : 148.50pt;
	top             : 107.25pt;
	width           : 243.00pt;
	height          : 219.00pt;
	}
div#e5              { /* <A href="index_010.htm">... */
	position        : absolute;
	left            : 336.00pt;
	top             : 323.25pt;
	width           : 179.25pt;
	height          :  21.00pt;
	}
span#e4             { /* w_core_sept-2012003003.g... */
	background      : transparent url(w_core_sept-2012003003.gif) no-repeat top left;
	position        : absolute;
	left            : 184.50pt;
	top             : 147.00pt;
	width           :  37.50pt;
	height          :  13.50pt;
	}
div#e3              { /* <DIV><A href="index_011.... */
	position        : absolute;
	left            : 134.25pt;
	top             : 131.25pt;
	width           : 153.00pt;
	height          :  31.50pt;
	}
img#e2              { /* w_core_sept-2012003002.j... */
	visibility      : hidden;
	position        : absolute;
	left            : 287.25pt;
	top             : 198.00pt;
	width           :  12.00pt;
	height          :  11.25pt;
	}
img#e1              { /* w_core_sept-2012003001.g... */
	position        : absolute;
	left            :  40.50pt;
	top             :   3.75pt;
	width           :  52.50pt;
	height          :  30.75pt;
	}
body#page           { /* Page Body */
	background-color: #000000;
	}



/*--- EndOfFile ---*/
